<!-- main-nav.html -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav w-auto mx-auto">
            <li class="nav-item">
                <a class="nav-link mr-4" href="{% url 'home' %}">
                    Home
                </a>
            </li>
            <!-- All Products Link -->
            <li class="nav-item">
                <a class="nav-link mr-4" href="{% url 'products' %}">
                    All Products
                </a>
            </li>
            <!-- Shop Dropdown -->
            <li class="nav-item dropdown">
                <a class="logo-font nav-link mr-4" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Shop
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                    <h6 class="dropdown-header">Shop by Jewelry Type</h6>
                    <a href="{% url 'products' %}?subcategory=Necklaces" class="dropdown-item">Necklace</a>
                    <a href="{% url 'products' %}?subcategory=Earrings" class="dropdown-item">Earrings</a>
                    <a href="{% url 'products' %}?subcategory=Bracelets" class="dropdown-item">Bracelet</a>
                    <a href="{% url 'products' %}?subcategory=Rings" class="dropdown-item">Ring</a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Shop by Color</h6>
                    <a href="{% url 'products' %}?tag=White%20Pearls" class="dropdown-item">White Pearls</a>
                    <a href="{% url 'products' %}?tag=Black%20Pearls" class="dropdown-item">Black Pearls</a>
                    <a href="{% url 'products' %}?tag=Pink%20Pearls" class="dropdown-item">Pink Pearls</a>
                    <a href="{% url 'products' %}?tag=Golden%20Pearls" class="dropdown-item">Golden Pearls</a>
                </div>
            </li>

            <!-- Trending Dropdown -->
            <li class="nav-item dropdown">
                <a class="logo-font nav-link mr-4" href="#" id="trending-link" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Trending
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="trending-link">
                    <a href="{% url 'products' %}?tag=Best%20Sellers" class="dropdown-item">Best Sellers</a>
                    <a href="{% url 'products' %}?tag=New%20Arrivals" class="dropdown-item">New Arrivals</a>
                </div>
            </li>
            <!-- About Link -->
            <li class="nav-item">
                <a class="logo-font nav-link mr-4" href="{% url 'about' %}">
                    About
                </a>
            </li>

            <!-- Contact Link -->
            <li class="nav-item">
                <a class="logo-font nav-link mr-4" href="{% url 'contact' %}">
                    Contact
                </a>
            </li>
        </ul>
    </div>
    </nav> 
   
