{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block inner_content %}

  <!-- Page Header -->
  <hr>
  <h3 class="logo-font product-header text-center">{% trans "Sign Up" %}</h3>
  <hr>

  <!-- Sign In Message -->
  <p class="text-center text-muted mb-4">
    {% blocktrans %}Already have an account? Then please 
      <a href="{{ login_url }}"><u>sign in</u></a>.{% endblocktrans %}
  </p>

  <!-- Sign Up Form -->
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="btn btn-outline-black rounded-0" href="{% url 'account_login' %}">Back to Login</a>
    <button type="submit">{% trans "Sign Up" %}</button>
  </form>
  {% endblock %}

   