{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12 text-center">
            <hr>
            <h4 class="logo-font pt-4">Welcome to CharmChic</h4>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4 text-center ms-4 mb-4">
            <img src="{% static 'images/aboutus.webp' %}" class="img-fluid responsive-image"
                alt="Illustration of pearls and craftsmanship">
        </div>
          <!-- About Us -->
          <div class="col-12 col-md-8">
            <p class="mx-4">CharmChic's journey began with an unwavering passion for pearls and a desire to showcase
                their timeless elegance. Founded by artisans who believe in celebrating the natural beauty of these
                gems, our mission is to offer expertly crafted, affordable jewelry.
                <br>
                <br>
                Each piece in our collection is meticulously handcrafted, blending classic sophistication with
                contemporary design. Our artisans take pride in sourcing the finest pearls, chosen for their unique
                luster and beauty. From elegant necklaces and earrings to bracelets and rings, our pieces are designed
                to enhance your individual style and make every moment special.
                <br>
                <br>
                At CharmChic, we stand by ethical sourcing and dedicated craftsmanship. We invite you to explore the
                elegance and grace of our pearl jewelry, ensuring each creation is as special and unique as the day it
                was made.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a href="{% url 'products' %}" class="btn btn-dark rounded-pill">
                <span class="text-uppercase">Explore Our Collection</span>
            </a>
        </div>
    </div>
</div>
</div>
{% endblock %}